# Local
# VITE_API_URL=http://localhost:3001/api/v1

# Vercel (produção)
VITE_API_URL=https://finacy-back-git-main-rafaelccorreas-projects.vercel.app/api/v1
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
VITE_APP_NAME=Finacy
VITE_APP_URL=http://localhost:5173
