<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Não reescrever arquivos e pastas que existem
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirecionar tudo para index.html (SPA)
  RewriteRule ^ index.html [L]
</IfModule>
